.container {
  min-height: 100vh;
  background-color: #fbfbfb;
  position: relative;

}

.main {
  display: flex;
  justify-content: center; 
  align-items: center; 
  border: 1px solid red;
  position: absolute;
  width: 100%;

}

.title {
  position: relative;
  z-index: 2;
  font-size: 100.75px;
  left: 5%;
  text-align: left;
  font-family: serif;
  width: 100%;
}

.svgContainer{
  position: relative;
  z-index: 0;
  right: 5%;
}

.animationdot{
  animation: fadeIn 1s ease-in-out;
}